.productList {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

.productList td, .productList th {
  border: 1px solid #ddd;
  padding: 8px;
}

.productList tr:nth-child(even) {
  background-color: #ddd;
}

.productList tr:hover {
  background-color: #0a4abf; /* Blue taken from Best Buy website */
}

.productList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f6eb16; /* Yellow taken from Best Buy website */
  color: black;
}

.listContainer {
  display: flex;
  justify-content: center;
}
